/*----------------------------------------------------------------------------
// File: view.css
//
// This file contains project-specific styling for the view.
//----------------------------------------------------------------------------
//
// Using monochromatic color rule from:
//
// https://color.adobe.com/create/color-wheel/?base=2&rule=Monochromatic&selected=0&name=My%20Color%20Theme&mode=rgb&rgbvalues=0.1996149115677472,0.25956019597877655,0.5,0.6992298231354943,0.7592519563532181,1,0.3992298231354944,0.5191203919575531,1,0.34961491156774716,0.37962597817660904,0.5,0.3193838585083955,0.4152963135660425,0.8&swatchOrder=0,1,2,3,4
*/

/*font-family: 'Montserrat', sans-serif;
font-family: 'Titillium Web', sans-serif;*/

body {
    background-color: #ffd101;
}

@font-face {
    font-family: "BadMofo";
    src: url("../fonts/BadMofo.ttf");
}

#pwd-container {
	margin-left: 10%;
}

.title_heading {
    font-size: 4em;
    margin: 20% 25% 3%;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}

.btn.sharp {
  border-radius:0;
}

.top-buffer {
	margin-top: 3%;
}