/*----------------------------------------------------------------------------
// File: view.css
//
// This file contains project-specific styling for the view.
//----------------------------------------------------------------------------
*/

/*----------------------------------------------------------------------------
// Body
//----------------------------------------------------------------------------
*/
body {
	height: 100%;
  background: linear-gradient(90deg, #972b1f 50%, #be8e1f 50%);

}

p,
input,
button {
	font-family: 'Titillium Web', sans-serif;
	font-size: 1.5em;
	font-weight: bold;
}

div a {
	font-family: 'Titillium Web', sans-serif;
	font-weight: bold;	
}

/*----------------------------------------------------------------------------
// Custom Font
//----------------------------------------------------------------------------
*/

@font-face {
	font-family: "BadMofo";
	src: url("../fonts/BadMofo.ttf");
	color: #ffd101;
}

/*----------------------------------------------------------------------------
// Login Section
//----------------------------------------------------------------------------
*/

#login-section {
	margin-left: 0;
}

.main-section {
	background: #FFDB3A;
	border: 2px groove #0E1116;
}

.title_heading {
	font-size: 4em;
	margin: 20% 15% 3%;
}

/*----------------------------------------------------------------------------
// Bootstrap Customization
//
// Customizing buttons from bootstrap standard
//----------------------------------------------------------------------------
*/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
	outline: 0 none;
}

.btn-primary {
	background-color: #9C7F00;
	color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active{
	background: #020202;
}

.btn-primary:active:focus {
	background: #972b1f;
}

.btn.sharp {
	border-radius: 0;
}

.top-buffer {
	margin-top: 3%;
}

/*----------------------------------------------------------------------------
// Font Awesome Icons
//
// Customizing buttons from bootstrap standard
//----------------------------------------------------------------------------
*/

.link-icons a {
	color: #9C7F00;
	text-align: center;
	font-size: 2em;
}

.link-icons a:hover,
.link-icons a:focus,
.link-icons a:active {
	color: #020202;;
}

.link-icons a:not(:first-child) {
    margin-left: 10%;
}
